* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.font-sans {
    font-family: -apple-system, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

.font-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.text-9xl {
    font-size: 4.5rem;
}

.text-5xl {
    font-size: 2.25rem;
}

.text-3xl {
    font-size: 1.5rem;
}

.text-2xl {
    font-size: 1.13rem;
}

.text-1xl {
    font-size: 1.125rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-cover {
    background-size: cover;
}

.w-8\/10 {
    width: 80%;
}

.w-screen {
    width: 100vw;
}

.h-3\/10 {
    height: 30%;
}

.h-7\/10 {
    height: 70%;
}

.h-screen {
    height: 100vh;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2.06rem;
}

.mt-3 {
    margin-top: 3.31rem;
}

.mt-10 {
    margin-top: 10rem;
}

.main {
    min-height: 600px;
}

.main-upper {
    background-image: url("./images/背景.png");
}

.main-lower {
    background-color: #ffffff;
}

.footer {
    background-color: #6b8cc7;
    line-height: 5rem;
}

.quick-exp {
    width: 12.5rem;
    height: 3.75rem;
    background: linear-gradient(70deg, rgba(5, 177, 189, 1) 0%, rgba(37, 210, 147, 1) 100%);
    border-radius: 2.5rem;
    line-height: 3.75rem;
}

.res-origin {
    width: 12.5rem;
    height: 3.75rem;
    border-radius: 2.5rem;
    line-height: 3.75rem;
    border: 0.06rem solid rgba(23, 125, 202, 1);
    margin-left: 1rem;
}

@media screen and (max-width:767px) {
    .nav-link {
        width: 100vw;
    }

    .contact-group .flex-wrap {
        width: 100%;
        padding: 2rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width:320px) {
    .contact-group .flex-wrap {
        padding: .5rem;
        margin-right: -9rem;
        margin-bottom: 2rem;
    }
    .contact-group .flex-wrap div {
        width: 15rem;
        margin-top: 1rem;
    }
    .footer {
        white-space: pre-line;
        line-height: 1.75rem;
        padding-bottom: 1.75rem;
    }
}

@media screen and (min-width:768px) {
    html {
        font-size: 12px;
    }

    .w-4\/10 {
        width: 40%;
    }

    .w-5\/10 {
        width: 50%;
    }

    .w-6\/10 {
        width: 60%;
    }

    .h-8\/10 {
        height: 80%;
    }

    .ml-1 {
        margin-left: 1rem;
    }

    .ml-4 {
        margin-left: 4rem;
    }

    .-mt-4 {
        margin-top: -4rem;
    }

    .small-logo {
        background-image: url("./images/logo-标志+英文.png");
        width: 15.06rem;
        height: 4.25rem;
    }

    .cloud-logo {
        background-image: url("./images/新logo带字镂空.png");
        width: 18.19rem;
        height: 19.56rem;
    }

    .big-logo {
        background-image: url("./images/logo-标志+英文1.png");
        width: 15.06rem;
        height: 4.25rem;
    }

    .icon {
        width: 1.94rem;
        height: 1.88rem;
    }

    .about .icon {
        background-image: url("./images/Image\ 11.png");
    }

    .community .icon {
        background-image: url("./images/Image\ 10.png");
    }

    .resources .icon {
        background-image: url("./images/Image\ 9.png");
    }

    .thanks .icon {
        background-image: url("./images/Image\ 12.png");
    }

    .res-origin {
        margin-left: 0;
    }

    .main {
        min-height: 968px;
    }

    .nav-link {
        width: 15%;
    }
}

@media screen and (min-width: 1000px) {
    .res-origin {
        margin-right: 6rem;
    }
}

@media screen and (min-width:1201px) {
    html {
        font-size: 16px;
    }

    .about .icon {
        background-image: url("./images/Image\ 11@2x.png");
    }

    .community .icon {
        background-image: url("./images/Image\ 10@2x.png");
    }

    .resources .icon {
        background-image: url("./images/Image\ 9@2x.png");
    }

    .thanks .icon {
        background-image: url("./images/Image\ 12@2x.png");
    }

    .main-upper {
        background-image: url("./images/背景@2x.png");
    }
}

@media screen and (min-width:1400px) {
    html {
        font-size: 18px;
    }
}