* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

.font-sans {
    font-family: -apple-system, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

.font-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.text-9xl {
    font-size: 4.5rem;
}

.text-5xl {
    font-size: 2.25rem;
}

.text-3xl {
    font-size: 1.5rem;
}

.text-2xl {
    font-size: 1.13rem;
}

.text-1xl {
    font-size: 1.125rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-cover {
    background-size: cover;
}

.w-4\/10 {
    width: 40%;
}

.w-5\/10 {
    width: 50%;
}

.w-6\/10 {
    width: 60%;
}

.w-8\/10 {
    width: 80%;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.h-5 {
    height: 5rem;
}

.h-2\/10 {
    height: 20%;
}

.w-1\/10 {
    width: 15%;
}

.h-3\/10 {
    height: 30%;
}

.h-5\/10 {
    height: 50%;
}

.h-7\/10 {
    height: 70%;
}

.h-8\/10 {
    height: 80%;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-4 {
    margin-left: 4rem;
}

.mr-10 {
    margin-right: 10rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2.06rem;
}

.mt-3 {
    margin-top: 3.31rem;
}

.mt-10 {
    margin-top: 10rem;
}

.-mt-4 {
    margin-top: -4rem;
}

.-ml-1 {
    margin-left: -1rem;
}

.small-logo {
    background-image: url("./images/logo-标志+英文.png");
    width: 15.06rem;
    height: 4.25rem;
}

.cloud-logo {
    background-image: url("./images/新logo带字镂空.png");
    width: 18.19rem;
    height: 19.56rem;
}

.big-logo {
    /* background-image: url("./images/logo-标志+英文+口号.png"); */
    /* width: 421px;
    height: 160px; */
    background-image: url("./images/logo-标志+英文1.png");
    width: 15.06rem;
    height: 4.25rem;
}

.icon {
    width: 1.94rem;
    height: 1.88rem;
}

.about .icon {
    background-image: url("./images/Image\ 11.png");
}

.community .icon {
    background-image: url("./images/Image\ 10.png");
}

.resources .icon {
    background-image: url("./images/Image\ 9.png");
}

.thanks .icon {
    background-image: url("./images/Image\ 12.png");
}

/* span.icon {
    width: 36px;
    height: 36px;
    background-image: url("./images/Image\ 13.png");
} */

.main-upper {
    background-image: url("./images/背景.png");
}

.main-lower {
    background-color: #ffffff;
}

.footer {
    background-color: #6b8cc7;
    line-height: 5rem;
}

.quick-exp {
    width: 12.5rem;
    height: 3.75rem;
    background: linear-gradient(70deg, rgba(5, 177, 189, 1) 0%, rgba(37, 210, 147, 1) 100%);
    border-radius: 2.5rem;
    line-height: 3.75rem;
}

.res-origin {
    width: 12.5rem;
    height: 3.75rem;
    border-radius: 2.5rem;
    line-height: 3.75rem;
    border: 0.06rem solid rgba(23, 125, 202, 1);
}

@media screen and (max-width:767px) , (max-height:767px) {
    html {
        font-size: 10px;
    }

    .small-logo,
    .big-logo,
    .cloud-logo,
    .icon {
        display: none;
    }

    .nav-link,
    .show,
    .contact-group .flex {
        width: 100%;
        height: max-content;
    }

    .show {
        margin-top: 0;
        margin-left: 2rem;
    }

    .contact-group .flex {
        margin-left: .7rem;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width:1201px) {
    html {
        font-size: 18px;
    }

    .about .icon {
        background-image: url("./images/Image\ 11@2x.png");
    }

    .community .icon {
        background-image: url("./images/Image\ 10@2x.png");
    }

    .resources .icon {
        background-image: url("./images/Image\ 9@2x.png");
    }

    .thanks .icon {
        background-image: url("./images/Image\ 12@2x.png");
    }

    .main-upper {
        background-image: url("./images/背景@2x.png");
    }
}